/.DS_Store
.gradle/.DS_Store
.gradle/7.5.1/.DS_Store
drawing-panel/.DS_Store
drawing-panel/bin/.DS_Store
drawing-panel/bin/main/.DS_Store
drawing-panel/bin/main/com/.DS_Store
drawing-panel/bin/main/com/mathnerd28/.DS_Store
drawing-panel/bin/main/com/mathnerd28/drawingpanel/.DS_Store
drawing-panel/build/.DS_Store
drawing-panel/build/classes/.DS_Store
drawing-panel/build/classes/java/.DS_Store
drawing-panel/build/classes/java/main/.DS_Store
drawing-panel/build/classes/java/main/com/.DS_Store
drawing-panel/build/classes/java/main/com/mathnerd28/.DS_Store
drawing-panel/build/classes/java/test/.DS_Store
drawing-panel/build/classes/java/test/com/.DS_Store
drawing-panel/build/classes/java/test/com/mathnerd28/.DS_Store
drawing-panel/build/generated/.DS_Store
drawing-panel/build/generated/sources/.DS_Store
drawing-panel/build/generated/sources/annotationProcessor/.DS_Store
drawing-panel/build/generated/sources/annotationProcessor/java/.DS_Store
drawing-panel/build/generated/sources/headers/.DS_Store
drawing-panel/build/generated/sources/headers/java/.DS_Store
drawing-panel/build/libs/.DS_Store
drawing-panel/build/reports/.DS_Store
drawing-panel/build/reports/tests/.DS_Store
drawing-panel/build/test-results/.DS_Store
drawing-panel/build/tmp/.DS_Store
drawing-panel/src/.DS_Store
drawing-panel/src/main/.DS_Store
drawing-panel/src/main/java/.DS_Store
drawing-panel/src/main/java/com/.DS_Store
drawing-panel/src/main/java/com/mathnerd28/.DS_Store
drawing-panel/src/main/java/com/mathnerd28/drawingpanel/.DS_Store
